html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  line-height: 22px;
  font-weight: 400;
  color: #000;
  min-width: 1110px;
  margin: 0;
  padding: 0;
}

#new-list{
  margin-left: 80px;
  border: 2px solid black;
  width: 250px;
}

#desk {
  display: flex;
  border: 2px solid black;
  margin-top: 50px;
  width: 700px;
  height: 500px;
  margin-left: 80px;
}
