html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    line-height: 22px;
    font-weight: 400;
    color: #000;
    min-width: 1110px;
    margin: 0;
    padding: 0;
  }

  .container {
    max-width: 1800px;
    margin: 0 auto;
  }

  .new_list__wrapper{
    margin-top: 20px;  
    border: 2px solid black;  
    width: 250px;
    margin-left: 20px;
  }

  .forma{
      margin: 20px;
  }

  .input{
      margin-bottom: 10px;
  }
  
  .new_desk__wrapper{
      border: 2px solid black;
      margin-top: 50px;
      width: 700px;
      height: 500px;
      margin-left: 20px;
  }

  .card{
    border: 2px solid black;
    width: 200px;
    margin-top: 125px;
    height: 50px;
    margin-left: 20px; 
  }

  .new_desk{
      display: flex;
      margin-left: -1080px;
  }
  

 